<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Password Reset</title>
    </head>
    <body
        style="
            font-family: &quot;Poppins&quot;, sans-serif;
            padding: 16px;
            border-radius: 24px;
            color: #fff;
            background: linear-gradient(65deg, #a855f7, #f472b6);
        "
    >
        <div
            style="
                text-align: center;
                font-size: 1.875rem;
                line-height: 2.25rem;
                font-weight: bold;
            "
        >
            Password Reset
        </div>
        <div style="font-size: 1rem; line-height: 1.5rem">
            Hi, <span style="font-weight: 600">{{.DisplayName}}</span> ✌️
        </div>

        <div style="font-size: 1rem; line-height: 1.5rem; margin: 16px 0">
            Here is password reset link:
            <a
                href="https://hnex.com/auth/password-reset?id={{.ID}}"
                style="font-weight: 600; color: #fff"
                >https://hnex.com/auth/password-reset?id={{.ID}}</a
            >, click it to perform action.
        </div>

        <div style="font-size: 1rem; line-height: 1.5rem">
            If you did not request a password reset, you can safely ignore this
            email.
        </div>

        <div style="font-size: 1rem; line-height: 1.5rem; margin: 16px 0">
            From <span style="font-weight: 600">HNEX team</span> ❤️️
        </div>

        <div style="display: inline-flex; margin: 0 auto">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/640px-Facebook_Logo_%282019%29.png"
                alt="Hnex Logo"
                style="width: 2rem; height: 2rem; border-radius: 9999px"
            />

            <img
                src="https://img.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_1017-45418.jpg"
                alt="Hnex Logo"
                style="
                    width: 2rem;
                    height: 2rem;
                    border-radius: 9999px;
                    margin-left: 16px;
                "
            />

            <img
                src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png"
                alt="Hnex Logo"
                style="
                    width: 2rem;
                    height: 2rem;
                    border-radius: 9999px;
                    margin-left: 16px;
                "
            />

            <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png"
                alt="Hnex Logo"
                style="
                    width: 2rem;
                    height: 2rem;
                    border-radius: 9999px;
                    margin-left: 16px;
                "
            />
        </div>

        <div
            style="
                text-align: center;
                font-size: 0.875rem;
                line-height: 1.25rem;
            "
        >
            © 2025 Hnex. All rights reserved.
        </div>
    </body>
</html>
